*, *::before. *::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Maven Pro', sans-serif;
  color: #222;
}

html {
  font-size: 10px;
}

.first {
  display: flex;
  height: 60vh;
  background: #e7e5e4;
}

.left {
  width: 50%;
  box-shadow: 5px 0 100px #212121;
  z-index: 2;
  min-height: 500px;
  background-image: url(../images/portfolio/repeatbg2.png);
}

.content-left {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.content-left h1 {
  font-size: 9rem;
  color: #212121;
}

.content-left h2 {
  font-size: 2rem;
  width: 80%;
  font-weight: 500;
  color: #757575;
}

.content-left h3 {
  font-size: 2rem;
  width: 80%;
  font-weight: 200;
  color: #757575;
}

.right {
  display: flex;
  width: 50%;
  height: 100%;
  background: #e0dfdc;
  align-items: center;
  min-height: 500px;
}

.top-menu {
  height: 60%;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  text-transform: uppercase;
  justify-content: space-around;
}

.top-menu li {
  list-style: none;
}

.top-menu a {
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
}

.get-started-btn {
  color: red;
  border: 1px solid #BDBDBD;
  padding: 1rem 2rem;
  border-radius: 100px;
}

.second {
  display: flex;
  height: 60vh;
  background: #CFD8DC;
}

.second-left {
  display: flex;
  width: 50%;
  height: 100%;
  background-color: #607D8B;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.second-left h1 {
  font-size: 5.5rem;
}

.service-btn {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row-reverse;
}

.second-right {
  display: flex;
  width: 50%;
  height: 100%;
  box-shadow: 5px 0 100px #212121;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background-image: url(../images/portfolio/repeatbg2.png);
}

.second-right h1 {
  font-size: 5.5rem;
}