body {
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  color: #222;
}

.clearfix::after{
  content: '';
  display: table;
  width: 100%;
  clear: both;
}

div {
  box-sizing: border-box;
}

header {
  background: url(../images/background.png) no-repeat center top / cover;
}

.container {
  width: 930px;
  border: 1px solid red;
  margin: 0 auto;
}

.logo {
  margin-top: 41px;
  float: left;
}

nav {
  float: right;
  margin-top: 70px;
}

.menu {
  padding: 0px;
  margin: 0px;
  display: block;
}

.menu li {
  float: left;
  display: block;
  margin-right: 41px;
}

.menu a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-style: 14px;
}

.titles_first {
  font-size: 40px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-top: 180px;
}

h1 {
  font-size: 75px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin: 15px;
}

.button {
  background: #fed136;
  color: #484543;
  display: block;
  border-radius: 3px;
  width: 240px;
  padding: 20px 0;
  margin: 0 auto;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  margin-top: 70px;
  margin-bottom: 70px;
}

.title {
  padding-top: 115px;
}

.title h2 {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.title p {
  color: #777;
  text-align: center;
  font-size: 16px;
  margin-top: : 5px;
}

.services{
  margin-top: 80px;
}

.services_item{
  width: 270px;
  float: left;
  text-align: center;
}

.services_item h3 {
  font-size: 18px;
  margin-bottom: 5px;

}
.services_item p {
  color: #777;
  font-size: 14px;
  line-height: 1.55em;
}

.services_item:last-child {
  float: right;
}

.services_item:nth-child(2){
  margin-left: 60px;
}

#services {
  padding-bottom: 120px;
}

#portfolio {
  background: #f7f7f7;
  padding-bottom: 120px;
}

.works{
  margin-top: 70px;
}

.works img{
  float: left;
}

.works img:nth-child(2){
  margin-left: 20%;
}

.works img:last-child{
  float: right;
}
