@media (max-width: 1199px) {
  html {
    font-size: 8px;
  }
  .first {
    flex-direction: column;
    display: flex;
    height: 100vh;
  }
  .left {
    height: 50%;
    width: 100%;
  }
  .right {
    width: 100%;
    height: 50%;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 5px;
  }
  .first {
    flex-direction: column;
    display: flex;
    height: 100vh;
  }
  .left {
    height: 50%;
    width: 100%;
  }
  .right {
    width: 100%;
    height: 50%;
  }
}
